* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100vw;
  background: #fff;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 25px;
  color: #3A3F4B;


}
nav.site-map {
  padding-left: 100px;
  display: inline-flex;
  list-style: none;
  flex-wrap: wrap;
  font-size: 13.5px;
  text-transform: uppercase;
}

nav.site-map li {
  margin: 0 20px;
  position: relative;
}

.home {
  color: #51C6F2;
  letter-spacing: 1px;
}

.home + .iconify {
  position: absolute;
  margin-left: 65px;
  color: #51C6F2;
}

.features + .iconify {
  position: absolute;
  margin-left: 169px;
}

div.social {
  margin-left: 405px;
  align-items: baseline;
  color: #A6A7A8;
}
div.search {
  margin-left: 35px;
  color: #A6A7A8
}

.iconify {
  width: 13.5px;
  height: 13.5px;
  margin-right: 7px
}

body {
  background: #F4F4F4;
}

.content {
  display: flex;
  flex-direction: row;
  margin-right: 9vw;
  margin-left: 9vw;
  margin-top: 4vh;
  }

.articles {
  display: flex;
  flex-direction: column;
  margin-right: 2.5vw;
}


.card {
  background: #FFFFFF;
  margin: 20px 0;
  width: 54vw;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;

}

.card > img {
  width:auto;
  height: 484px;
}

.card-content {
  text-align: center;
  padding: 0 45px;
}

.card-content h4 {
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 45px;
  margin-bottom: 14px;
  color: #51C6F2;
}

.card-content h2 {
  font-size: 24.5px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.card-content p {
  font-size: .88em;
  text-align: left;
  margin-top: 26px;
  padding-bottom: 25px;
  line-height: 2;
}

.card-content a {
  font-size: 13px;
  color: #51C6F2;
  margin-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  padding: 12px 25px;
}

.card-content .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  padding: 30px 0 0;
  border-top: 1px solid #e6e6e6;
  font-style: italic;
  font-size: 12px;

}

.card-footer-socials .iconify {
  color: #a6a6a6;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
}
aside {
  width: 72vw;
  display: flex;
  flex-direction: column;
}

aside > .aside-card {
  background: #FFFFFF;
  margin: 18px 0;
  overflow: hidden;
  text-align: center;
}

.aside-card h3 {
  margin-top: 30px;
  text-transform: uppercase;
}

.aside-card p {
  font-size: 14px;
  margin: auto 30px 25px;
  line-height: 2;
}

.aside-card .card-footer-socials {
  margin-bottom: 35px;
}

img.card-img-header {
  width: 367px;
  height: auto;
}

div.img-circle {
  margin: -85px 35px 25px 35px;
  width: 300px;
  height: 300px;
  border: solid 5px #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.card-img-focus {
  width:300px;
}

.subcards {
  margin: 15px 30px 15px 30px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: .8em;
  border-bottom: 1px solid #e6e6e6;

}
.subcards > .subcard-img {
  max-width: 300px;
  max-height: 300px
}

.subcards > h4 {
  text-transform: uppercase;
}

.subcards .subcard-date {
  width: auto;
  font-size: 12px;
  font-style: italic;
  padding-bottom: 25px;
}

.subcards:nth-last-of-type(1) {
  border: none;
}

.aside-card {
  display: inline-flex;
  flex-direction: column;
}
.grid img {
  width: 96px;
  height: 96px;
}
.grid {
  padding-bottom: 30px;
}

.thumbnail-card {
  margin: 0 0 15px 0;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
}
.thumbnail-card > img {
  width: 105px;
  height: 80px;
}

.thumbnail-card .caption {
  margin-left: 8px;
  margin-top: 0px;
  text-align: left;
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.caption h4 {
  margin-top: 0px;
  margin-bottom: 5px;
  text-transform: uppercase;
  line-height: 2;
}
